<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.14.0" targetFramework="net472" requireReinstallation="true" />
  <package id="cef.redist.x64" version="85.3.13" targetFramework="net472" />
  <package id="cef.redist.x86" version="85.3.13" targetFramework="net472" />
  <package id="CefSharp.Common" version="85.3.130" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="85.3.130" targetFramework="net472" />
  <package id="Selenium.PhantomJS.WebDriver" version="2.1.1" targetFramework="net472" />
  <package id="Selenium.Support" version="4.0.0-alpha05" targetFramework="net472" requireReinstallation="true" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha05" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net472" requireReinstallation="true" />
</packages>